*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
   
}
ul{
    list-style: none;;
}
#wrapper{
    width: 1140px;
    margin:0px auto;
}
#header{
   display: flex;
   justify-content: space-around;
   height: 60px
}
/* .header__logo{

} */
.header__logo img{
    height: 70px
}
.header__list{
    display: flex;
}
.header__list li{
    padding: 0px 18px;
}
.header__list li a{
    text-decoration: none;
    color: #000;
    line-height: 60px;
    display: block;
   
}
.header__list li:hover a{
    color: #606060
}
.login{
   line-height: 60px;
}
.login button {
    background:  #7dadef;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;    
    padding: 10px 12px;
    transition:0.25s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.login button:hover{
    background-color: #468ff6;
}
/* .products{

} */
.product__name{
   font-size: 30px;
   text-align: center;
   margin: 40px 0px;
   position:relative
}
.product__name::after{
    background-color: #031457;
    content: "";
    display: block;
    height: 3px;
    margin: 11px auto 30px;
    position: relative;
    width: 100px;
}
ul.products__list{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
ul.products__list li{
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    text-align:center;
    margin-bottom: 30px;
}
/* .products__list li{
   display: inline-block;
   margin: 0px 10px;
} */
.products__list img{
    max-width: 100%;
    height: auto;
}
ul.products__list li .image_img:hover{
    opacity: 0.9
}
.name{
    font-size: 18px;
}
